// Payment Start

.payment
	background-color $black-haze


	&__info-title,
	&__info-key
		font-family $arial
		font-size 16px
		font-weight normal
		font-style normal
		line-height 21px
		color $bali-hai


	&__info-value
		font-family $arial
		font-size 16px
		font-weight normal
		font-style normal
		line-height 21px
		color $tuna

// Payment End
