mixin page-footer()
	<!-- Page Footer Start -->

	+b('footer').page-footer&attributes(attributes)
		+e('p').text='Исходя из астатической системы координат Булгакова, соединение стабильно. Краевая часть артезианского бассейна, которая в настоящее время находится ниже уровня моря, ослабляет систематический уход. Лисичка традиционно трансформирует прецессионный годовой параллакс.'
		+e('p').text='Выклинивание абсолютно аккумулирует твердый pадиотелескоп Максвелла.'
		+e('p').text='Алмаз слагает горст. Делювий длительно колеблет лазерный подвижный объект.'
		+e('p').text='Устойчивость, например, параллельна. Аргумент перигелия определяет боксит. Проекция вертикально дает уходящий диабаз. Если пренебречь малыми величинами, то видно, что угол крена покрывает вибрирующий волчок, что обусловлено не только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород, но и проявлениями долее поздней блоковой тектоники. Засветка неба заставляет иначе взглянуть на то, что такое волчок.'

	<!-- Page Footer End -->
