/*! Page Footer Start */

.page-footer
	padding-top 23px
	padding-right 26px
	padding-left 30px
	padding-bottom 20px

	background-color $tuna

	&__text
		margin-top 0
		margin-bottom 10px

		font-family $arial
		font-size 12px
		font-weight normal
		font-style normal
		line-height 18px
		color $manatee

/*! Page Footer End */
