// Page Footer Start

.page-footer
	background-color $tuna


	&__text
		font-family $arial
		font-size 12px
		font-weight normal
		font-style normal
		line-height 18px
		color $manatee

// Page Footer End
