$open-sans = 'Open Sans', Arial, sans-serif
$arial = Arial, sans-serif

@font-face
	font-family $open-sans
	src url('../fonts/open-sans--bold.woff2') format('woff2'), url('../fonts/open-sans--bold.woff') format('woff')
	font-weight 700
	font-style normal
