// Colors

$woodsmoke = #101114
$waterloo = #808592
$shark = #1f2229
$shark--lighter = #20232b
$shark--darker = #191c24
$charade = #2a2d37
$black-haze = #f7f8f8
$bali-hai = #8494ab
$tuna = #373c43
$mystic = #e4e9ee
$white = #ffffff
$loblolly = #bec6cf
$science-blue = #0059bd
$manatee = #89909d
$red = #ff0000

// Screen-widths

$mobile-width = 320px
$big-mobile-width = 480px
$tablet-width = 768px
$desktop-width = 1000px
