include ../user-nav/user-nav
include ../payments-main/payments-main
include ../page-footer/page-footer

mixin payments-page()
	+b('div').payments-page&attributes(attributes)
		+e('div').container
			+e('div').content--nav
				+user-nav()
			+e('div').content--main
				+payments-main()
				+page-footer()
