extends /blocks/layout-default/layout-default

include /blocks/user-nav/user-nav
include /blocks/payments-main/payments-main
include /blocks/page-footer/page-footer

block head
	- var page = getData('payments-page');

block content
	+e('div').left-content
		+user-nav()
	+e('div').right-content
		+payments-main()
		+page-footer()
