// User Navigation Start

.user-nav
	&__link
		display block

		font-family $open-sans
		font-size 18px
		font-weight 700
		font-style normal
		line-height 24px
		text-decoration none
		color $white


		&--odd
			background-color $shark


		&--even
			background-color $shark--darker


		&--active
			color $waterloo

			background-color $charade


		&--exit
			color $waterloo

			background-color $shark--darker

// User Navigation End
