mixin user-nav()
	<!-- User Navigation Start -->
	+b('nav').user-nav&attributes(attributes)
		+e('ul').list
			- var n = 1;
			each item in getData('user-nav')
				+e('li').item
					if (item.name === page.name)
						+e('a').link--active=item.text
					else
						+e('a')(class='link--' + (n % 2 ? 'odd' : 'even'), href=item.href)=item.text
				- n++;
			+e('li').item
				+e('a').link--exit(href='#')='Выйти'
	<!-- User Navigation End -->
