/*! User Navigation Start */

.user-nav
	&__list
		margin-top 0
		margin-bottom 0
		padding-left 0

		list-style none

	&__link
		padding-top 25px
		padding-bottom 26px
		display block

		font-family $open-sans
		font-size 18px
		font-weight 700
		font-style normal
		line-height 24px
		text-align center
		text-decoration none
		color $white

		@media (min-width $desktop-width)
			padding-left 30px

			text-align left

		&--odd
			background-color $shark

		&--even
			background-color $shark--darker

		&--active
			color $waterloo

			background-color $charade

		&--exit
			color $waterloo

			background-color $shark--darker
			border-top 1px solid $shark--lighter

/*! User Navigation End */
