include ../input-field/input-field
include ../select-field/select-field
include ../btn/btn

mixin card()
	- var card = getData('card');

	<!-- Card Start -->

	+b('section').card&attributes(attributes)
		+e('h2').title='Данные банковской карты'
		+e('form').form
			+e('div').content--front
				+e('fieldset').form-section
					+e('legend').form-section-title='Номер карты'
					- var n = 1;

					each item in card.numberInputs
						+input-field(item).__form-section-item--number(class=n === card.numberInputs.length ? '--last' : '')

						- n++;
				+e('fieldset').form-section
					+e('legend').form-section-title='Срок действия'
					each item in card.validitySelects
						+select-field(item)(class='__form-section-item--' + item.modifier)
				+input-field(card.owner).__item--owner
			+e('div').content--back
				+input-field(card.code).__item--code
			+btn(card.btn).__form-submit

	<!-- Card End -->
