/*! Input Field Start */

.input-field
	position relative

	display inline-block

	text-align left
	vertical-align top

	&__label
		margin-bottom 4px

		font-family $arial
		font-size 16px
		font-weight normal
		font-style normal
		line-height 21px
		color $bali-hai

		&--hidden
			visuallyHidden()

	&__input
		padding-top 10px
		padding-right 10px
		padding-left 10px
		padding-bottom 9px
		width inherit

		font-family $arial
		font-size 16px
		font-weight normal
		font-style normal
		line-height 21px
		color $loblolly

		background-color $white
		border 1px solid $mystic

		&:-ms-input-placeholder
			color $loblolly

		&::placeholder
			color $loblolly

			opacity 1

		&--tip
			padding-right 40px

		&--error
			border-color $red

	&__tip-sign
		position absolute
		right 9px
		bottom 7px

		cursor pointer

		sprite($tip)

/*! Input Field End */
