mixin input-field(inputParam)
	+b('label').input-field&attributes(attributes)
		if (inputParam.labelText)
			+e('span')(class=inputParam.isLabelVisible ? 'label' : 'label--hidden')=inputParam.labelText
		+e('input')(class='input' + (inputParam.tip
			? '--tip'
			: ''), type=inputParam.type, name=inputParam.name)&attributes(inputParam.attributes)
		if (inputParam.tip)
			+e('span').tip-sign

